.flashCards {
  margin-top: var(--space-small);
}

.flashCard {
  --flash-card-color: var(--color-accent-2);
  --flash-card-space: 0.5rem;
  --color-shadow: var(--flash-card-color);

  box-sizing: border-box;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--flash-card-color);
  box-shadow: 0 1px 3px 0 var(--color-shadow),
    0 1px 2px -1px var(--color-shadow);
  border-radius: var(--radius);
  position: relative;
  cursor: pointer;
}

.flashCard big {
  font-size: x-large;
  letter-spacing: -0.02em;
}

.level {
  position: absolute;
  right: var(--flash-card-space);
  bottom: var(--flash-card-space);
  box-sizing: border-box;
  width: 20%;
  max-width: 100px;
  padding: 0.1em 0;
  color: var(--tag-color);
  font-size: small;
  border: 2px solid var(--tag-color);
  border-radius: var(--radius);
  text-align: center;
}

.level::after {
  content: '';
  width: var(--completion, 0);
  height: 100%;
  min-width: 5%;
  max-width: 100%;
  background-color: var(--tag-color);
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: var(--flash-card-space);
  font-size: smaller;
  width: 100%;
}

.progress::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: var(--progress);
  min-width: 2%;
  max-width: 100%;
  height: 3px;
  background-color: var(--color-accent-8);
}

.finishedCard {
  background-color: var(--flash-card-color);
}

.finishedCard b {
  display: flex;
  gap: 0.2em;
  align-items: center;
  font-size: x-large;
}

.mastered {
  color: var(--color-primary);
  font-weight: bolder;
}

.menuButton {
  position: absolute;
  top: 0.1em;
  right: 0.1em;
}

.controls {
  width: 100%;
  display: flex;
  flex-direction: row nowrap;
}

.controls > *:first-child {
  flex-basis: 100%;
}

.controls > *:last-child {
  flex-shrink: 0;
}

@media screen and (max-width: 640px) {
  .panel small {
    font-size: 0.6em;
  }
}
