.flashCards {
  margin-top: var(--space-small);
}

.flashCard {
  --color-shadow: var(--color-accent-2);

  box-sizing: border-box;
  width: 100%;
  height: 250px;
  padding: var(--space-small);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-accent-2);
  box-shadow: 0 1px 3px 0 var(--color-shadow),
    0 1px 2px -1px var(--color-shadow);
  border-radius: var(--radius);
  position: relative;
}

.flashCard small {
  position: absolute;
  right: 1em;
  bottom: 1em;
  box-sizing: border-box;
  width: 20%;
  max-width: 100px;
  padding: 0.1em 0;
  color: var(--tag-color);
  font-size: small;
  border: 2px solid var(--tag-color);
  border-radius: var(--radius);
  text-align: center;
}

.controls {
}

.darkPanel {
  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1em;
  color: white;
  background-color: var(--color-surface-dark);
  border-radius: var(--radius);
}

.darkPanel button {
  flex-shrink: 0;
  color: rgb(49, 49, 49);
}

@media screen and (max-width: 640px) {
  .darkPanel small {
    font-size: 0.6em;
  }
}
