.chat {
  display: flex;
  flex-flow: column;
  gap: 1em;
}

.message {
  box-sizing: border-box;
  max-width: 90%;
  background-color: var(--color-surface);
  border-radius: var(--radius);
  padding: 0.5em 1em;
}

.botMessage {
  align-self: flex-start;
}

.userMessage {
  align-self: flex-end;
}

.translateMessage {
  align-self: flex-start;
}

.translateMessage a {
  text-decoration: underline;
}

.translateMessage div[lang='en'] {
  margin: 0.5em 0 0;
}

.chatOption {
  align-self: flex-end;
  border-radius: 10em;
  background-color: transparent;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
  cursor: pointer;
}

.chatOption[disabled] {
  border-color: var(--color-accent-3);
  color: var(--color-accent-3);
  cursor: not-allowed;
}

.chatInput {
  align-self: flex-end;
  width: 100%;
  max-width: 100%;
  border: 2px solid var(--color-accent-3);
  background-color: transparent;
}

.chatInput textarea {
  width: 100%;
  max-height: 25dvh;
  margin: 0;
  font-size: 16px;
  border-width: 0;
  outline: none;
  background-color: transparent;
  resize: none;
  appearance: none;
}

.chatInput textarea:focus {
  border-color: var(--color-accent-5);
}
