:root {
  --layout-h-spacing: var(--space-small);
  --layout-v-spacing: var(--space-small);
  --layout-max-width: 640px;

  font-family: unset;
}

@media screen and (min-width: 640px) {
  :root {
    --layout-h-spacing: var(--space-large);
    --layout-v-spacing: var(--space-medium);
  }
}

body {
  margin: 0;
  padding: 0 var(--layout-h-spacing) var(--layout-v-spacing)
    var(--layout-h-spacing);
  line-height: 160%;
}

.page-header,
.page-footer {
  width: 100%;
  max-width: var(--layout-max-width);
  margin: var(--layout-v-spacing) auto;

  &:empty {
    display: none;
  }
}

.page-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1em;
  position: relative;
}

.page-header h1 {
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  font-weight: 800;
  letter-spacing: -0.04em;
  flex-basis: 100%;
}

/* @media screen and (min-width: 640px) {
  .page-header h1 {
    flex-basis: auto;
  }
}

@media screen and (min-width: 960px) {
  .page-header h1 {
    position: absolute;
    left: -8.5rem;
  }
} */

.page-header button,
.page-header a {
  flex-shrink: 0;
  white-space: nowrap;
}

@media screen and (min-width: 640px) {
  .page-header {
    margin-bottom: var(--space-large);
  }

  .page-footer {
    margin-top: var(--space-large);
  }
}

.page-header__search {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}

@media screen and (min-width: 640px) {
  .page-header__search {
    width: 8.7em;
  }
}

.page-header__search button {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.page-header__search input {
  padding-right: calc(var(--input-padding) + 15px);
}

main {
  width: 100%;
  max-width: var(--layout-max-width);
  margin: 0 auto;
}
